body{
    background-color: #eee;
}
input::placeholder{
    color: #333;
}
input[type=text]:focus {
    border-bottom: 1px solid #863694 !important;
    box-shadow: 0 1px 0 0 #863694 !important;
}
::selection{
    background-color: #863694;
    color: #eee;
}