<%- include("partials/header.ejs"); %>
<form action="/hello" method="GET">
    <input type="text" name="bgclr" id="bgclr" value="<%= qs.name %>">
    <input type="submit">
</form>
<%- include("partials/footer.ejs"); %>