<%- include("partials/header.ejs"); %>
<%- include("partials/navBar.ejs"); %>
    
    <button id="chbg">change background color</button>
    <button id="api">make a request to local API :)</button>

    <p id="txtTest"></p>
    <%- include("partials/footer.ejs"); %>